<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div class="logo"><img src="" alt=""></div>
        <div class="menu">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Download</li>
                <li>Service</li>
            </ul>
        </div>
        <div class="dashboard">
            <h4>Deatail</h4>
            <p>Person</p>
        </div>
    </div>
</body>
</html>