.con{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background:#141f2e;
    color: white;
}
.para{
    font-weight:500;
    transition: transform 0.2s ease;
}
h2:hover{
    color:rgb(0, 110, 255);
    transition: color 0.3s ease;
}
.para:hover{
    color:rgb(29, 150, 255);
    cursor: pointer;

}