.container{
    display: flex;
    justify-content: center;
    margin:auto;
    height:5rem;
    align-items: center;

}
.container button{
    height: 4rem;
    margin-right:1rem;
    padding:10px;
    font-size: 2rem;
    border-radius: 6px;
    border:none;
    transition: transform 0.9s ease;
    transition:  background-color 0.9s ease;
}
.container button:hover{
    transform:scale(1.3);
    background-color: rgba(131, 10, 211, 0.512);
    color: white;
}